<div class="container">

  <div class="row" *ngFor="let value of applications; let i = index" [attr.data-index]="i">

    <div class="col-0 col-lg-2"></div>

    <div class="col-12 col-lg-8">

      <mat-card>

        <mat-card-content>
          <h2> {{ value.date.replace('T', ' ').substring(0, 19) }}</h2>

          <p class="header">Message: </p>
          <p class="header">{{ value.message }}</p>
        </mat-card-content>

        <div class="row">
          <div class="col-0 col-sm-1 col-xl-2"></div>
          <div class="col-12 col-sm-10 col-xl-8">

            <mat-accordion class="example-headers-align" multi >

              <mat-expansion-panel (opened)="getTeamInfo(value.team)">
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <p class="expansion">Team information</p>
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <p class="expansion card bg-info" > Name: </p>
                <p class="expansion card bg-light">{{ teamModel.name }}</p>
                <p class="expansion card bg-info"> Description: </p>
                <p class="expansion card bg-light">{{ teamModel.description }}</p>
                <p class="expansion card bg-info"> People sought: </p>
                <p class="expansion card bg-light">{{ teamModel.peopleSought }}</p>
                <p class="expansion card bg-info"> Project description: </p>
                <p class="expansion card bg-light">{{ teamModel.projectDescription }}</p>
                <p class="expansion card bg-info"> Members value / team size </p>
                <p class="expansion card bg-light">{{ teamModel.membersValue }} / {{ teamModel.teamSize }}</p>
                <p class="expansion card bg-info"> Date of creation: </p>
                <p class="expansion card bg-light">{{ teamModel.dateOfCreation }}</p>

              </mat-expansion-panel>


            </mat-accordion>

          </div>
          <div class="col-0 col-sm-1 col-xl-2"></div>
        </div>

        <mat-card-actions>


          <button class="size" mat-raised-button color="accent" (click)="cancelApplication(value)">
            <mat-icon>remove_circle_outline</mat-icon>
            Cancel the invitation
          </button>

        </mat-card-actions>

      </mat-card>

    </div>

    <div class="col-0 col-lg-2"></div>

  </div>

</div>
