<div class="container">

  <div class="row">

    <div class="col-2 col-md-3"></div>

    <div class="col-2 col-md-6">

      <mat-card-content *ngIf="isEmpty">
        <p class="alert-info">There are no members yet</p>
      </mat-card-content>

    </div>

    <div class="col-2 col-md-3"></div>

  </div>



<mat-card class="bg-light margin" *ngIf="!isEmpty">

        <ng-container *ngFor="let value of newList">

          <mat-card class="margin xd">

            <div class="row">
            <div class="col-12 col-lg-4 box">
              <mat-card-header>
                <mat-card-title>
                  Avatar
                  <hr>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <img mat-display-1 class="imageClass" src="https://i.ya-webdesign.com/images/avatar-png-1.png">
                <p class="admin" *ngIf="value.admin" >Admin</p>
                <p class="admin" *ngIf="!value.admin" >Member</p>
              </mat-card-content>
            </div>

            <div class="col-12 col-lg-4 box">
              <mat-card-header>
                <mat-card-title>
                 Personal
                  <hr>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-icon>person</mat-icon>
                <p> {{ value.firstName }} {{ value.lastName }}</p>
                <p> Phone: {{ value.phoneNumber | phone: 'PL' }} </p>
              </mat-card-content>
            </div>

            <div class="col-12 col-lg-4 box">
              <mat-card-header>
                <mat-card-title>
                  Social
                  <hr>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <mat-icon>pages</mat-icon>
               <p> Git: {{ value.gitHub }}  </p>
                <p> Linkedin: {{ value.linkedin }} </p>
              </mat-card-content>
            </div>

            </div>

            <mat-card-actions *ngIf="isAdmin">

              <div *ngIf="!value.admin">
              <button mat-fab color="primary" (click)="addPermission(value.id)">
                <mat-icon>how_to_reg</mat-icon>
              </button>
              </div>

              <div *ngIf="value.admin">
                <button mat-fab color="accent" (click)="removePermission(value.id)">
                  <mat-icon>event_busy</mat-icon>
                </button>
              </div>

              <button mat-fab color="accent" (click)="deleteFromTeam(value.id)">
                <mat-icon>delete</mat-icon>
              </button>

            </mat-card-actions>

          </mat-card>
        </ng-container>
</mat-card>
</div>

