
p {
  margin-top: 20px;
  font-size: 24px;
}

.box {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

mat-card-content {
  margin-top: 20px;
}

mat-card-title {
  font-size: 23px;
}

.margin {
  margin: 25px 25px 25px 25px;
}

.imageClass {
  width: 100px;
  height: 100px;
}

.admin {
  font-size: 18px;
  font-family: Bahnschrift, serif;
}

mat-card-actions {
  justify-content: flex-end;
  display: flex;
  margin: 10px;
}

button {
  margin: 10px;
}

p {
  font-size: 20px;
  text-align: center;
}

.admin {
  color: slateblue;
  font-weight: bold;
}
