
      <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
          <form>
            <p>
              <mat-form-field>
                <input size="16" type="text" name="username" [(ngModel)]="username" matInput placeholder="Username"/>
              </mat-form-field>
              <mat-form-field>
                <input size="16" type="password" name="password" [(ngModel)]="password" matInput placeholder="Password"/>
              </mat-form-field>
            </p>

            <a *ngIf="message" [ngStyle]="{'color': 'red'}" class="error">{{ message }}</a>
            <br>

            <mat-card-actions>
              <button appButtons class="button" (click)=checkLogin() mat-raised-button color="accent">Login</button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
