@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

body {
    font-family: 'Chelsea Market';
}

:host {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.mat-form-field {
    width: 100%;
    min-width: 200px;
}

mat-card-title,
mat-card-content {
    min-height: 50px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.mat-form-field {
    min-height: 50px;
}

input {
    transition: width 0.4s ease-in-out;
}

mat-card-actions {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .button {
      width: 150px;
      border-radius: 50px 20px;
  }

  a {
    justify-content: center;
    display: flex;
  }
