<div class="container justify-content-center">
  <mat-card>
  <div class="row">

      <div class="col-md-6 col-lg-3">
          <a class="button card bg-light" mat-menu-item [routerLink]="['information']">
            <mat-icon>pan_tool</mat-icon>   Information</a>
      </div>

      <div class="col-md-6 col-lg-3">
          <a class="button card bg-light" mat-menu-item [routerLink]="['memberShip']">
            <mat-icon>people_outline</mat-icon>   Membership</a>
      </div>

      <div class="col-md-6 col-lg-3">
          <a class="button card bg-light" mat-menu-item [routerLink]="['applications']">
            <mat-icon>contact_mail</mat-icon>   Applications</a>
      </div>

      <div class="col-md-6 col-lg-3">
          <a class="button card bg-light" mat-menu-item [routerLink]="['tidings']">
            <mat-icon>chat_bubble_outline</mat-icon>   Tidings</a>
      </div>

  </div>
    <div class="row" *ngIf="isAdmin">

      <div class="col-md-0 col-lg-3">
      </div>

      <div class="col-md-6 col-lg-3">
        <a class="button card bg-light" mat-menu-item (click)="invitations()" [routerLink]="['invitations']">
          <mat-icon>insert_invitation</mat-icon>   Invitations</a>
      </div>

      <div class="col-md-6 col-lg-3">
        <a class="button card bg-light" mat-menu-item [routerLink]="['needs']">
          <mat-icon>how_to_reg</mat-icon> Needs</a>
      </div>

      <div class="col-md-0 col-lg-3">
      </div>

    </div>
  </mat-card>
</div>

<router-outlet></router-outlet>
