<!--<div class="row justify-content-center">-->

<!--  <mat-card>-->

<!--    <button (click)="sendMessage()" mat-button>Send message</button>-->

<!--    <button (click)="getMessage()" mat-button>Get message</button>-->

<!--  </mat-card>-->

<!--</div>-->
