mat-card {
  margin: 20px;
  background-color: slateblue;
}

.header {
  font-size: 20px;
  text-align: center;
  color: white;
}

h2 {
  color: white;
}

mat-card-actions {
  justify-content: center;
  display: flex;
  margin-top: 15px;
}

.size {
  width: 150px;
}

.cancel {
  width: 200px;
}

.expansion {
  color: black;
  font-size: 18px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel {
  margin-top: 10px;
}

p {
  font-size: 20px;
  text-align: center;
}

mat-card-content {
  margin: 20px;
}
