
    <mat-toolbar color="primary">


      <a class="logo" routerLink="/context">Greel</a>
      <mat-icon>code</mat-icon>



    <a *ngIf="!isUserLogIn()" class="order" appButtons mat-raised-button color="accent" routerLink="/registration" routerLinkActive="active">
      Get Started! <mat-icon>control_point</mat-icon></a>

      <div class="spacer"></div>

      <div fxHide fxShow.gt-sm="true" *ngIf="isUserLogIn()">

      <a appButtons class="button" mat-raised-button color="accent" [routerLink]="['/profile']" routerLinkActive="active">
        <mat-icon>perm_identity</mat-icon>   Profile</a>

      <a appButtons class="button" mat-raised-button color="accent" [routerLink]="['/skills']" routerLinkActive="active">
        <mat-icon>event_note</mat-icon>   Skills</a>

      <a appButtons class="button" mat-raised-button color="accent" [routerLink]="['/team']" routerLinkActive="active">
        <mat-icon>group</mat-icon>  Team</a>

        <a appButtons class="button" mat-raised-button color="accent" [routerLink]="['/menu']" routerLinkActive="active">
          <mat-icon>apps</mat-icon>  Menu</a>

      <a appButtons class="button" mat-raised-button color="accent" [routerLink]="['/search']" routerLinkActive="active">
        <mat-icon>search</mat-icon>  Search</a>

      </div>
        <div class="spacer"></div>

        <div fxShow="true" fxHide.gt-sm="true">

          <button mat-raised-button color="accent" [matMenuTriggerFor]="afterMenu">
          <mat-icon>menu</mat-icon></button>
          <mat-menu #afterMenu="matMenu" xPosition="after">

            <a class="button" mat-menu-item *ngIf="isUserLogIn()" [routerLink]="['/profile']" routerLinkActive="active">
              <mat-icon>perm_identity</mat-icon>   Profile</a>

            <a  class="button" mat-menu-item *ngIf="isUserLogIn()" [routerLink]="['/skills']">
              <mat-icon>event_note</mat-icon>   Skills</a>

            <a class="button" mat-menu-item *ngIf="isUserLogIn()" [routerLink]="['/team']" routerLinkActive="active">
              <mat-icon>group</mat-icon>  Team</a>

            <a class="button" mat-menu-item *ngIf="isUserLogIn()" [routerLink]="['/menu']" routerLinkActive="active">
              <mat-icon>apps</mat-icon>  More</a>

            <a class="button" mat-menu-item *ngIf="isUserLogIn()" [routerLink]="['/search']" routerLinkActive="active">
              <mat-icon>contacts</mat-icon>   Search</a>

            <a class="button" mat-menu-item *ngIf="!isUserLogIn()" routerLink="/login">
              <mat-icon>arrow_upward</mat-icon> Sign In</a>

            <a class="button" mat-menu-item *ngIf="isUserLogIn()" (click)="logout()">
              <mat-icon>cancel</mat-icon> Log out</a>

            <a class="button" mat-menu-item *ngIf="!isUserLogIn()" routerLink="/registration">
              <mat-icon>person_add</mat-icon> Sign up</a>

          </mat-menu>

        </div>

        <div fxHide fxShow.gt-sm>
          <a appButtons class="right" mat-raised-button color="accent" *ngIf="!isUserLogIn()" routerLink="/login">
          <mat-icon>arrow_upward</mat-icon> Sign In</a>

          <a appButtons class="right" mat-raised-button color="accent" (click)="logout()" *ngIf="isUserLogIn()">
            <mat-icon>cancel</mat-icon> Log out</a>
        </div>

      <div fxHide fxShow.gt-sm>
        <a appButtons class="right" mat-raised-button color="accent" *ngIf="!isUserLogIn()" routerLink="/registration">
          <mat-icon>person_add</mat-icon> Sign up</a>
      </div>
    </mat-toolbar>
