.spacer {
    flex: 1 1 auto;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50px 20px;
}

.order {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 50px 20px;
    width: 200px;
}

.right {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50px 20px;
}

.logo {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 10px;
}