<div class="container justify-content-center">
  <mat-card>

    <form (ngSubmit)="search(myForm)" #myForm="ngForm">

    <div class="row">


      <div class="col-12 col-md-4 col-lg-4 box2">
        <h2>Team size</h2>
          <mat-form-field>
            <label>
              <input size="19" type="number"  min="2" max="10" name="sizeTeam" [(ngModel)]="teamSearchModel.sizeTeam" matInput placeholder="2-10"/>
            </label>
          </mat-form-field>
      </div>

        <div class="col-12 col-md-4 col-lg-4 box2">
          <h2>Category</h2>
          <mat-radio-group name="categoryForm" aria-label="Select an option" class="example-radio-group" [(ngModel)]="category" (ngModelChange)="newData($event)">
            <mat-radio-button value="BACKEND">Backend</mat-radio-button>
            <mat-radio-button value="FRONTEND">Frontend</mat-radio-button>
            <mat-radio-button value="DEV_OPS">DevOps</mat-radio-button>
            <mat-radio-button value="OTHER">Other</mat-radio-button>
            <mat-radio-button value="MySkills">My skills</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-12 col-md-4 col-lg-4 box2">
          <h2>Skills name</h2>
          <mat-form-field>
            <mat-label>Select</mat-label>
            <mat-select [formControl]="skillName" multiple>
              <mat-select-trigger>
                {{ skillName.value ? skillName.value[0] : ''}}
                  <span *ngIf="skillName.value?.length > 1" class="example-additional-selection">
                    (+{{skillName.value.length - 1}} {{skillName.value?.length === 2 ? 'other' : 'others'}})
                  </span>
              </mat-select-trigger>
              <mat-option *ngFor="let value of skillsName" [value]="value.name">
                {{ value.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


    </div>

    <div class="row">
      <div class="col-3 col-md-5"></div>
      <div class="col-6 col-md-2 box">
        <button mat-raised-button color="accent">
          Search
        </button>
      </div>
      <div class="col-3 col-md-5"></div>
    </div>

    </form>
  </mat-card>

  <mat-card *ngIf="isEmpty" class="bg-light margin">

    <ng-container *ngFor="let value of result">

      <mat-card class="margin">

        <div class="row">
          <div class="col-12 col-lg-4 box2">
            <mat-card-header>
              <mat-card-title>
                Avatar
                <hr>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <img mat-display-1 class="imageClass" src="https://i.ya-webdesign.com/images/avatar-png-1.png" alt="s">
            </mat-card-content>
          </div>

          <div class="col-12 col-lg-4 box2">
            <mat-card-header>
              <mat-card-title>
                Team: {{ value.name }}
                <hr>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-icon>person</mat-icon>
              <p> Description: {{ value.description }}  </p>
            </mat-card-content>
          </div>

          <div class="col-12 col-lg-4 box2">
            <mat-card-header>
              <mat-card-title>
                Team size: {{ value.teamSize }}
                <hr>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <mat-icon>pages</mat-icon>
              <p> People sought: {{ value.peopleSought }} </p>
            </mat-card-content>
          </div>
        </div>

        <div class="row">
          <div class="col-0 col-md-2"></div>
          <div class="col-12 col-md-8">

            <mat-accordion class="example-headers-align" multi >

              <mat-expansion-panel class="bg-light" (opened)="getRequiredSkills(value.id)">
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <p class="expansion">Required skills</p>
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div *ngFor="let requiredSkill of teamSkillRequiredList">

                  <p class="expansion card bg-warning" >Name: {{ requiredSkill.name }} </p>
                  <p class="expansion card bg-light" >Level: {{ requiredSkill.level }} </p>
                  <p class="expansion card bg-light" >Category: {{ requiredSkill.category }} </p>

                </div>

              </mat-expansion-panel>

            </mat-accordion>

          </div>
          <div class="col-0 col-md-2"></div>
        </div>

          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/application', value.id]">
              <mat-icon>check_circle_outline</mat-icon>
              Apply
            </button>
          </mat-card-actions>

      </mat-card>
    </ng-container>
  </mat-card>

  <div class="row">
    <div class="col-0 col-sm-2 col-md-3"></div>
    <div class="col-12 col-sm-8 col-md-6 box2">
      <mat-card *ngIf="notFound && errorMessage === ''" class="bg-light">
        <mat-card-header>
          <img mat-display-1 class="imageClass2" src="https://www.nicepng.com/png/detail/334-3348426_search-result-icons-error-404-girlfriend-not-found.png" alt="s">
        </mat-card-header>
        <mat-card-content>
          <p class="notFound">No result found!</p>
        </mat-card-content>
      </mat-card>
      <mat-card *ngIf="errorMessage != ''" class="bg-light">
        <mat-card-header>
          <img mat-display-1 class="imageClass2" src="https://www.nicepng.com/png/detail/334-3348426_search-result-icons-error-404-girlfriend-not-found.png" alt="s">
        </mat-card-header>
        <mat-card-content>
          <p class="notFound">{{ errorMessage }}!</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-0 col-sm-2 col-md-3"></div>
  </div>
</div>


