.divy {
    min-width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .mat-card {
    min-width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

.addSkill{
    min-height: 50px;
  }

  mat-card-content {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }

  .button {
    width: 150px;
    border-radius: 50px 20px;
  }

h4 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.card {
  width: 350px;
}

.box {
  justify-content: center;
  display: inline-block;
}

.delete {
  justify-content: flex-end;
}

mat-radio-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-radio-button {
  margin: 15px;
}

.category {
  margin-top: 15px;
  font-size: 14px;
}

.months {
  margin-top: 15px;
  font-size: 17px;
}

.kolor {
  background-color: slateblue;
  color: white;
}

.nokolor {
  background-color: #E91E63;
  color: white;
}

.title {
  font-size: 14px;
}

.name {
  font-size: 30px;
  font-weight: bold;
}
