.button {
  margin: 20px;
}

a {
  font-size: 18px;
}

.example-radio-group {
  margin: 15px;
  display: block;
}

mat-radio-button {
  margin: 8px;
}

.box {
  justify-content: center;
  display: flex;
}

button {
  width: 150px;
}

mat-card {
  margin-bottom: 30px;
}

.imageClass {
  width: 100px;
  height: 100px;
}

p {
  font-size: 18px;
  margin: 10px;
}

.margin {
  margin: 25px 25px 25px 25px;
}

.box2 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.mat-card-actions {
  justify-content: center;
  display: flex;
  margin: 20px;
}

.notFound {
  font-size: 25px;
  color: darkturquoise;
  font-weight: bold;
}

.imageClass2 {
  width: 250px;
  height: 200px;
}

.mat-card-header {
  display: flex;
  justify-content: center;
}

.send {
  width: 200px;
}
