
<div *ngIf="!haveTeam">
  <div class="container">

    <div class="col-10 col-md-8 col-lg-6">

      <mat-card *ngIf="!validate">
        <mat-card-title>
          <p>To add a team you need to complete your profile!</p>
        </mat-card-title>
      </mat-card>

      <mat-card *ngIf="validate">

        <mat-card-header>
          <mat-card-title>
            Add your dream team!
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <form (ngSubmit)="addTeam()">

            <mat-form-field>
              <mat-label>Name</mat-label>
                <input size="40" type="text" minlength="3" maxlength="35"  name="name"  [(ngModel)]="team.name" matInput placeholder="3-35 characters!"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Member value</mat-label>
                <input size="19" type="number"  min=2 max=10 name="memberValue"  [(ngModel)]="team.teamSize" matInput placeholder="2 - 10 members!"/>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Team description</mat-label>
              <textarea matInput [(ngModel)]="team.description" maxlength="250" name="teamDescription" placeholder="20 - 250 characters!"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Project description</mat-label>
              <textarea matInput [(ngModel)]="team.projectDescription" maxlength="250" name="projectDescription" placeholder="20 - 250 characters!"></textarea>
            </mat-form-field>

            <mat-form-field>
              <mat-label>What kind of people are we looking for?</mat-label>
              <textarea matInput [(ngModel)]="team.peopleSought" maxlength="250" name="peopleSought" placeholder="20 - 250 characters!"></textarea>
            </mat-form-field>

            <div class="row">

            </div>

            <mat-card-actions>
              <button appButtons class="button" mat-button mat-raised-button color="accent">Create Team!</button>
            </mat-card-actions>

          </form>

        </mat-card-content>

      </mat-card>
    </div>

  </div>
</div>
<div *ngIf="haveTeam">
  <app-team-dashboard></app-team-dashboard>
</div>
