.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}


mat-card-title,
mat-card-content {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  display: flex;
  font-size: 20px;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

.button {
  width: 150px;
  border-radius: 50px 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

p {
  margin-top: 10px;
  font-size: 18px;
}
