<div class="container">
  <div class="row">
    <div class="divy col-12 col-lg-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="addSkill">
            Add the required skill
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <h4>Category</h4>
          <mat-radio-group name="cateogryForm" class="example-radio-group"  aria-label="Select an option" [(ngModel)]="category" (ngModelChange)="newData($event)" required>
            <mat-radio-button checked value="BACKEND">Backend</mat-radio-button>
            <mat-radio-button value="FRONTEND">Frontend</mat-radio-button>
            <mat-radio-button value="DEV_OPS">DevOps</mat-radio-button>
            <mat-radio-button value="OTHER">Other</mat-radio-button>
          </mat-radio-group>

          <form #myForm="ngForm">

            <h4>Skill name</h4>
            <mat-form-field>
              <mat-label>Select</mat-label>
              <mat-select (selectionChange)="saveSkill(myForm)"  [(ngModel)]="skills.name" name="name" required>
                <mat-option *ngFor="let value of skillsName" [value]="value.name">
                  {{ value.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h4>Level of advancement</h4>
            <mat-form-field>
              <mat-label>Level</mat-label>
              <mat-select (selectionChange)="saveSkill(myForm)" [(ngModel)]="skills.level" name="level" required>
                <mat-option value="BEGINNER">Beginner</mat-option>
                <mat-option value="INTERMEDIATE">Intermediate</mat-option>
                <mat-option value="ADVANCED">Advanced</mat-option>
                <mat-option value="EXPERT">Expert</mat-option>
                <mat-option value="MASTER">Master</mat-option>
              </mat-select>
            </mat-form-field>

          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="divy col-12 col-lg-8">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            List of required skills in the project
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="box">
            <ng-container *ngFor="let value of skillList; let odd = odd;">
              <mat-card [ngClass]=" {'card kolor': !odd, 'card nokolor': odd}">
                <mat-card-header>
                  <mat-card-title class="title">
                    {{ value.category }}
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p class="name">
                    {{ value.name}}
                  <p class="category">
                    {{ value.level }}
                  </p>
                </mat-card-content>
                <mat-card-actions class="delete">

                  <button *ngIf="odd % 2 == 0" mat-mini-fab color="accent" (click)="deleteSkill(value.id)" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <button *ngIf="odd % 2 != 0" mat-mini-fab color="primary" (click)="deleteSkill(value.id)" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>

                </mat-card-actions>
              </mat-card>
            </ng-container>
          </div>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
