<div class="container">

  <div class="row">

    <div class="col-0 col-md-2 col-lg-3"></div>

    <div class="col-12, col-md-8 col-lg-6">

      <mat-card>
        <form (ngSubmit)="sendApplication()" #registrationForm="ngForm">

        <mat-card-header *ngIf="!pom">
          <h1> Application to {{ team.name }}</h1>
        </mat-card-header>

          <div class="md-form textBox">
              <textarea name="message" [(ngModel)]="application.message" maxlength="255" class="md-textarea form-control" placeholder="Enter application message! Max 255 characters!"></textarea>
          </div>

        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>assignment_turned_in</mat-icon>
            Send
          </button>
        </mat-card-actions>

        </form>

      </mat-card>

    </div>

    <div class="col-0 col-md-2 col-lg-3"></div>

  </div>
</div>
