mat-card {
  margin: 30px;
  min-height: 200px;
}

.textBox {
  margin: 10px;
}

mat-card-content,
mat-card-actions {
  margin: 20px;
  justify-content: center;
  display: flex;
}

p {
  font-size: 20px;
  text-align: center;
}
