.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
    text-align: center;
}

.text-white {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
