<div class="container justify-content-center">
  <mat-card>
    <div class="row">

      <div class="col-md-6 col-lg-3">
<!--        -->
      </div>

      <div class="col-md-6 col-lg-3">
        <a class="button card bg-light" mat-menu-item [routerLink]="['applications']">
          <mat-icon>contact_mail</mat-icon>   Applications</a>
      </div>

      <div class="col-md-6 col-lg-3">
        <a class="button card bg-light" mat-menu-item [routerLink]="['invitations']">
          <mat-icon>insert_invitation</mat-icon>   Invitations</a>
      </div>

      <div class="col-md-6 col-lg-3">
<!--       -->
      </div>

    </div>

  </mat-card>
</div>

<router-outlet></router-outlet>
