mat-card {
  margin: 50px;
}

p {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.first {
  height: 100px;
}

.imageClass {
  border-radius: 50px 20px;
  width: 240px;
  height: 240px;
}

mat-card-content {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  font-size: 25px;
}

h2 {
  text-align: center;
}
