
    <!-- <p *ngIf="['xs','sm'] | fxIf | async"></p> -->

    <div class="first{{fontClass}}" mat-display-1>
        <p class="pFirst{{fontClass}}">Build your own dream team or join an existing one!</p>

        <p class="pSecond{{fontClass}}">Greel is a platform designed for everyone who wants to gain their first experience in IT. It doesn't matter if you can do something or are just crawling, you will definitely find something for yourself
        </p>

    </div>
    <img  mat-display-1 class="obraz{{fontClass}}" src="assets/img/{{imgSrc}}/Plan.jpg">

    <div class="first{{fontClass}}" mat-display-1>
        <p class="pFirst{{fontClass}}">You can easily find interesting people</p>

        <p class="pSecond{{fontClass}}">No matter if you are a backend-developer, tester or Dev-Ops, a real team needs them all
        </p>

    </div>

    <img mat-display-1 class="obraz{{fontClass}}" src="assets/img/{{imgSrc}}/Plan2.png">

    <div class="first{{fontClass}}" mat-display-1>
            <p class="pFirst{{fontClass}}">Complete your profile <br> and add your skills!</p>

        <!-- <div *ngIf="checkSize('sm') && checkSize('xs')" class="nextTo1"> -->
            <p class="pSecond{{fontClass}}">
              That's all you need to be able to start using the full possibilities of Greel
            </p>

    </div>

    <img mat-display-1 class="obraz{{fontClass}}" src="assets/img/{{imgSrc}}/Plan3.jpg">

    <div class="first{{fontClass}}" mat-display-1>
        <p class="pFirst{{fontClass}}">Choose your options</p>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-12 col-md-6">
          <mat-card>
              <mat-card-title>
                  <p class="pFirst{{fontClass}}">
                      Create Team
                  </p>
                  <hr>
              </mat-card-title>

                  <mat-card-content>
                      <p class="pSecond{{fontClass}}">
                        Your project
                      </p>
                      <p class="pSecond{{fontClass}}">
                        Your decisions
                      </p>
                      <p class="pSecond{{fontClass}}">
                        You are the boss
                      </p>
                  </mat-card-content>
                  <mat-card-content>
                      <a appButtons class="button" mat-raised-button color="accent" routerLink="/registration">
                        <mat-icon>check_circle_outline</mat-icon>Get</a>
                  </mat-card-content>
          </mat-card>
        </div>

        <div class="col-12 col-md-6">
          <mat-card>
              <mat-card-title>
                  <p class="pFirst{{fontClass}}">
                      Find Team
                  </p>
                  <hr>
              </mat-card-title>

                  <mat-card-content>
                      <p class="pSecond{{fontClass}}">
                        You are part of the team
                      </p>
                      <p class="pSecond{{fontClass}}">
                        Less impact on the project
                      </p>
                      <p class="pSecond{{fontClass}}">
                        Assigned tasks
                      </p>
                  </mat-card-content>
                  <mat-card-content>
                      <a appButtons class="button" mat-raised-button color="accent" routerLink="/registration">
                        <mat-icon>check_circle_outline</mat-icon>Get</a>
                  </mat-card-content>
          </mat-card>
        </div>

      </div>
    </div>
