img.obrazBig {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  border-radius: 15px;
}

img.obrazSmall {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 15px;
}

.firstBig {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.firstSmall {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.p {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pFirstBig {
  font-size: 56px;
  line-height: 65px;
  margin-bottom: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

.pFirstSmall{
  font-size: 25px;
  line-height: 45px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

.pSecondBig {
  font-size: 25px;
  line-height: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

.pSecondSmall {
  font-size: 18px;
  line-height: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

button {
  border-radius: 50px 20px;
  width: 100%;
}

li {
  color: black;
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  list-style: none;
}

li:not(:last-child){
  margin-bottom: 15px;
}

li::before {
  margin-right: 15px;
  content: "\2705";
  color: mediumslateblue;
}

mat-card {
  margin-top: 20px;
  margin-bottom: 100px;
}

.mat-card-title {
  text-align: center;
}



