<div class="container">

  <div class="row">

    <div class="col-sm-0 col-md-3"></div>

    <div class="col-sm-12 col-md-6">
      <mat-card>
          <mat-card-content>
            <h2>Who are you looking for?</h2>
          </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="col-sm-0 col-md-3"></div>

  <div class="row">

    <div class="col-sm-12 col-md-6 box">

      <img src="https://image.flaticon.com/icons/png/512/56/56950.png" class="rounded mx-auto d-block" alt="Responsive image">
      <button mat-raised-button color="accent" class="block" (click)="goTeam()">Team</button>

    </div>

    <div class="col-sm-12 col-md-6 box">

      <img src="https://www.pngkey.com/png/full/22-223848_businessman-vector-person-logo-png.png" class="rounded mx-auto d-block" alt="Responsive image">
      <button mat-raised-button color="primary" class="block" (click)="goPeople()">People</button>


    </div>

  </div>

</div>



