.block {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.container {
  margin-top: 100px;
}

.box {
  margin-top: 50px;
  margin-bottom: 50px;
}

mat-card-content {
  justify-content: center;
  display: flex;
}

img {
  max-height: 380px;
  margin-bottom: 10px;
}
