<mat-card>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-content>
      <form #registrationForm="ngForm">

          <mat-form-field>
            <label>
              <input size="19" type="text" name="username" [(ngModel)]="user.username" matInput placeholder="Username"/>
            </label>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input size="19" type="email" name="email" [(ngModel)]="user.email" matInput placeholder="Email"/>
            </label>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input size="19" type="password" name="password" [(ngModel)]="user.password" matInput placeholder="Password"/>
            </label>
          </mat-form-field>

          <mat-form-field>
            <label>
              <input size="19" type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" matInput placeholder="Confirm password"/>
            </label>
          </mat-form-field>

        <a *ngIf="message" [ngStyle]="{'color': 'red'}" class="error">{{ message }}</a>
            <br>

        <mat-card-actions>
          <button (click)="registerNow()" appButtons class="button" mat-raised-button color="accent" >Sign up</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
