:host {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.mat-form-field {
    width: 100%;
    min-width: 200px;
    min-height: 50px;
}

mat-card-title,
mat-card-content {
    min-height: 50px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

input {
    transition: width 0.4s ease-in-out;
}

mat-card-actions {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .button {
      width: 150px;
      border-radius: 50px 20px;
  }

  .error {
    font-size: 18px;
  }

a {
  justify-content: center;
  display: flex;
}
