<div class="container">

  <div class="row" *ngFor="let value of applications; let i = index" [attr.data-index]="i">

    <div class="col-0 col-lg-2"></div>

    <div class="col-12 col-lg-8">

      <mat-card>

        <mat-card-content>
            <h2> {{ value.date.replace('T', ' ').substring(0, 19) }}</h2>

            <p class="header">Message: </p>
            <p class="header">{{ value.message }}</p>
        </mat-card-content>

        <div class="row">
          <div class="col-0 col-sm-1 col-xl-2"></div>
          <div class="col-12 col-sm-10 col-xl-8">

            <mat-accordion class="example-headers-align" multi >

              <mat-expansion-panel (opened)="getPersonalData(value.user)">
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <p class="expansion">Personal Data</p>
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <p class="expansion card bg-info" > First name / Last name </p>
                <p class="expansion card bg-light">{{ userProfile.firstName }} {{ userProfile.lastName }}</p>
                <p class="expansion card bg-info"> Phone: </p>
                <p class="expansion card bg-light">{{ userProfile.phoneNumber | phone: 'PL' }}</p>
                <p class="expansion card bg-info"> Linkedin: </p>
                <p class="expansion card bg-light">{{ userProfile.linkedin }}</p>
                <p class="expansion card bg-info"> Github: </p>
                <p class="expansion card bg-light">{{ userProfile.gitHub }}</p>
                <p class="expansion card bg-info"> Experience: </p>
                <p class="expansion card bg-light">{{ userProfile.experience }} months</p>
                <p class="expansion card bg-info"> Basic position: </p>
                <p class="expansion card bg-light">{{ userProfile.position }}</p>

              </mat-expansion-panel>

              <mat-expansion-panel (opened)="getUserSkills(value.user)">
                <mat-expansion-panel-header>

                  <mat-panel-title>
                    <p class="expansion">Skills</p>
                  </mat-panel-title>

                </mat-expansion-panel-header>

                <div *ngFor="let skill of skills">

                <p class="expansion card bg-warning" >Name: {{ skill.name }} </p>
                <p class="expansion card bg-light" >Level: {{ skill.level }} </p>
                <p class="expansion card bg-light" >Experience: {{ skill.numberOfMonth }} months </p>

                </div>

              </mat-expansion-panel>

            </mat-accordion>

          </div>
          <div class="col-0 col-sm-1 col-xl-2"></div>
        </div>

        <mat-card-actions *ngIf="!invite">

          <button class="size" mat-raised-button color="accent" (click)="applyApplication(value)">
            <mat-icon>check_circle_outline</mat-icon>
            Accept
          </button>

          <button class="size" mat-raised-button color="accent" (click)="discardApplication(value)">
            <mat-icon>remove_circle_outline</mat-icon>
            Reject
          </button>

        </mat-card-actions>

        <mat-card-actions *ngIf="invite">
          <button class="size cancel" mat-raised-button color="accent" (click)="discardApplication(value)">
            <mat-icon>remove_circle_outline</mat-icon>
            Cancel the invitation
          </button>
        </mat-card-actions>

      </mat-card>

    </div>

    <div class="col-0 col-lg-2"></div>

  </div>


</div>
