
.inputs {
  max-width: 300px;
  justify-content: center;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.divy {
  min-width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.mat-card {
  min-width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

mat-card-title {
  min-height: 50px;
}

.imageClass {
  border-radius: 50px 20px;
  width: 240px;
  height: 240px;
}

mat-card-content {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 25px;
}

mat-card-actions {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

p {
  margin-top: 30px;
}

.bigInput {
  width: 350px;
}

.radio {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.button {
  width: 150px;
  border-radius: 50px 20px;
}

.button2 {
  width: 100px;
  border-radius: 50px 20px;
}

