<div class="container">
  <div class="row">
    <div class="divy col-12 col-lg-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Avatar
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-display-1 class="imageClass" src="https://i.ya-webdesign.com/images/avatar-png-1.png" alt="s">
          <p>Put your unique avatar!</p>
        </mat-card-content>
        <mat-card-actions>
          <button class="button2" appButtons mat-button mat-raised-button color="primary">Upload</button>
          <button class="button2" appButtons mat-button mat-raised-button color="accent">Set default</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="divy col-12 col-lg-8">
      <mat-card> <mat-card-header>
        <mat-card-title>
          User profile
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form>
          <mat-form-field>
            <label>
              <input (change)="saveProfile()" size="19" type="text" name="FirstName"  [(ngModel)]="profile.firstName" matInput placeholder="First name" required/>
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input (change)="saveProfile()" size="19" type="text" name="LastName"  [(ngModel)]="profile.lastName" matInput placeholder="Last name" required/>
            </label>
          </mat-form-field>
          <mat-form-field>
            <label>
              <input (change)="saveProfile()" size="19" type="text" name="PhoneNumber" maxlength="15" minlength="9"
                     [ngModel]="profile.phoneNumber | phone:'PL'" matInput placeholder="Phone number"
                     (ngModelChange)="profile.phoneNumber=$event"/>
            </label>
          </mat-form-field>
          <mat-form-field class="bigInput">
            <label>
              <input (change)="saveProfile()" size="19" type="text" name="GitHub" [(ngModel)]="profile.gitHub" matInput placeholder="GitHub"/>
            </label>
          </mat-form-field>
          <mat-form-field class="bigInput">
            <label>
              <input (change)="saveProfile()" size="19" type="text" name="Linkedin" [(ngModel)]="profile.linkedin" matInput placeholder="Linkedin"/>
            </label>
          </mat-form-field>
          <div class="row">
            <div class="col-6 radio">
              <mat-radio-group (change)="saveProfile()" name="Position" [(ngModel)]="profile.position" aria-label="Select an option" class="example-radio-group" required>
                <mat-radio-button value="BACKEND">Backend</mat-radio-button>
                <mat-radio-button value="FRONTEND">Frontend</mat-radio-button>
                <mat-radio-button value="FULL_STACK">Fullstack</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-6 radio">
              <mat-radio-group (change)="saveProfile()" name="SocialStatus" [(ngModel)]="profile.socialStatus" aria-label="Select an option" class="example-radio-group" required>
                <mat-radio-button value="STUDENT">Student</mat-radio-button>
                <mat-radio-button value="LOOKING_FOR_A_JOB">Looking for a job</mat-radio-button>
                <mat-radio-button value="JOB_CHANGE">Job change</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <h2>Experience * year</h2>
          <div class="row radio">
            <mat-form-field>
              <label>
                <input (change)="saveProfile()" size="19" type="number"  min="0" max="130" name="Experience"  [(ngModel)]="profile.experience" matInput placeholder="Select" required/>
              </label>
            </mat-form-field>
          </div>
          </form>
      </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
