
 @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%;
margin: 0%;
min-width:500px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:500px;
 }
body {
   margin: 0;
   /* font-family: Roboto, "Helvetica Neue", sans-serif; */
   font-family: 'Chelsea Market';
   min-width: 500px;

}

#page-container {
   position: relative;
   min-height: 100vh;
 }

 #content-wrap {
   padding-bottom: 3.25rem;    /* Footer height */
 }

 #footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 3.25rem;            /* Footer height */
 }

 :root {
  --ion-font-family: 'Chelsea Market';
 }

 .notif-success {
   color: #ffffff;
   background-color: #77dd77;
 }

 .notif-error {
   color: #ffffff;
   background-color: #ff6961;
 }

 .notif-info {
   color: #ffffff;
   background-color: #33ccff;
 }

 .mat-simple-snackbar-action {
   color: #ffffff;
 }

 .mat-simple-snackbar {
   font-size: 20px !important;
 }
